{% extends "layout.html" %}
{% block title %}Add comment{% endblock %}
{% block content %}
{{blog.topic}}
<br>
<br>
by {{blog.username}} {{blog.time_of.strftime('%Y-%m-%d')}}
<hr>

Add comment:
<form action="/add_comment/{{blog.id}}", method="POST" onsubmit="return validComments(this)">
    <textarea name='content' cols="40" rows="4"></textarea>
    <br>
    <input type="submit" value="Send">
</form>

Comments:

<br>
<hr>

{% for comment in comments%}
{{comment.content}}
<br>
by {{comment.username}} {{comment.date_of.strftime('%Y-%m-%d')}}
<hr>
{% endfor %}

<script>
    const validComments = (form) => {
        if (form.content.value === '') {
            alert('Can"t send empty comments!')
            return false
        } else if (form.content.value.length < 10 || form.contnet.value.length > 400) {
            alert('Comments must be between 10 and 400 characters long')
            return false
        }
        return true
    }
</script>

{% endblock %}