{% extends "layout.html" %}
{% block title %}
<h2>We are happy to have you!</h2>
{% endblock %}
{% block content %}
<div id="newuserpage">
<form action="/add_user" method="POST" onsubmit="return confirm(this)">
    <p>Username:
    <br>
    <input type="text" name="username">
    </p>
    <p>Password: 
    <br>
    <input type="password" name="password">
    </p>
    <p>Confirm password:
    <br>
    <input type="password" name="password2">
    </p>
    <input type="submit" value="Create an account">
</form>
    <a href="/">Back to login</a>
</div>
<script>
    const confirm = (form) => {
        if (form.password.value !== form.password2.value) {
            alert('passwords must match')
            return false
        } else if (form.username.value === '' || form.password.value === '') {
            alert('username and password cannot be empty')
            return false
        }
        return true
    }
</script>

{% endblock %}