{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

{% if session.username %}

<h2>{{session.username}} has logged in</h2>

<form action="/blogform" method="POST">
    <input type="submit" value="create new post">
</form>

<form action="/log_out", method="POST">
    <input type="submit" value="log out">
</form>

<div>
    Current blogposts:
    <hr>
    {% for blog in blogs %}
    {{blog.topic}}
    <br>
    <br>
    Created by {{blog.username}} on {{blog.time_of.strftime('%Y-%m-%d')}}<br>
    Total comments: to be updated
    <br>
    <a href="/visit/{{blog.id}}">Visit</a>
    <hr>
    {% endfor %}
</div>
<br>



{% else %}
<div id="loginpage">
<form action="/login" method="POST">
    <p>Username: 
    <br>
    <input type="text" name="username">
    </p>
    <p>Password: 
    <br>
    <input type="password" name="password">
    </p>
    <input type="submit" value="Log in">
</form>

<a href="/create_form">Or create a new account</a>
</div>

{% endif %}
{% endblock %}